body {
  display: flex;
  justify-content: center; 
  align-items: center;
  min-height: 100vh; 
  margin: 0;
  background-color: rgb(102, 102, 102);
  font-family: 'Poppins', sans-serif; 
}

.everything {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 400px;
  background-color: rgb(229, 224, 219);
  padding: 20px 10px 20px 10px;
  box-shadow: 0px 0px 15px 5px rgb(176, 175, 175);
}

.form {
  display: flex;
  flex-direction: column;
}

.todo-list{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  row-gap: 7px;
  padding: 0;
}

.icons {
  display: flex;
  gap: 5px;
}

.add-form {
  display: flex;
  align-self: center;
}

.add-input {
  font-size: 18px;
  padding: 8px 10px 8px 10px;
  border-radius: 15px 0px 0px 15px;
  border: none;
  background-color: rgb(232, 244, 255);
}

.add-input:focus {
  border: none; 
  outline: none; 
}

.add-submit {
  border: none;
  color: rgb(227, 229, 202);
  background-color: rgb(74, 154, 228);
  font-size: 20px;
  font-weight:bold;
  border-radius: 0px 15px 15px 0px;
  padding: 5px 10px 5px 10px;
} 

.update-form {
  display: flex;
  flex-direction: row; 
  background-color: rgb(232, 244, 255);
  border-radius: 10px;
  padding: 10px;
  border: 1px solid rgb(38, 36, 141);
}

.update-input {
  background-color: rgb(243, 245, 255);
  border-radius: 15px 0px 0px 15px;
  border: 1px solid rgb(186, 186, 186);
  padding-left: 5px;
  width: 100%;
}

.update-input:focus {
  outline: none;
}

.update-submit {
  border: none;
  color: rgb(227, 229, 202);
  background-color: rgb(88, 169, 91);
  padding: 5px 10px 5px 10px;
  border-radius: 0px 15px 15px 0px;
}

.todo-complete, .todo-incomplete {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px;
}

.todo-complete {
  text-decoration-line: line-through;
  color: rgb(112, 112, 112);
  background-color: rgb(207, 207, 207);
}

.todo-incomplete {
  background-color: rgb(232, 244, 255);
}

.todo-text {
  padding: 0px 10px 0px 5px;
}

.clear-completed {
  border-radius: 5px;
  border: none;
  background-color: rgb(233, 195, 195);
  align-self: center;
  padding: 5px;
}